:root {
    /* =~= Theme Properties =~= */
    --theme-font-color-base: 0 0 0;
    --theme-font-color-dark: 255 255 255;
    --theme-rounded-base: 8px;
    --theme-rounded-container: 24px;
    --theme-border-base: 0px;
    /* =~= Theme On-X Colors =~= */
    --on-primary: 255 255 255;
    --on-secondary: 255 255 255;
    --on-tertiary: 255 255 255;
    --on-success: 255 255 255;
    --on-warning: 255 255 255;
    --on-error: 255 255 255;
    --on-surface: 0 0 0;
    /* =~= Theme Colors  =~= */
    /* primary | #C9912D */
    --color-primary-50: 247 239 224; /* ⬅ #f7efe0 */
    --color-primary-100: 244 233 213; /* ⬅ #f4e9d5 */
    --color-primary-200: 242 228 203; /* ⬅ #f2e4cb */
    --color-primary-300: 233 211 171; /* ⬅ #e9d3ab */
    --color-primary-400: 217 178 108; /* ⬅ #d9b26c */
    --color-primary-500: 201 145 45; /* ⬅ #C9912D */
    --color-primary-600: 181 131 41; /* ⬅ #b58329 */
    --color-primary-700: 151 109 34; /* ⬅ #976d22 */
    --color-primary-800: 121 87 27; /* ⬅ #79571b */
    --color-primary-900: 98 71 22; /* ⬅ #624716 */
    /* secondary | #0A2749 */
    --color-secondary-50: 218 223 228; /* ⬅ #dadfe4 */
    --color-secondary-100: 206 212 219; /* ⬅ #ced4db */
    --color-secondary-200: 194 201 210; /* ⬅ #c2c9d2 */
    --color-secondary-300: 157 169 182; /* ⬅ #9da9b6 */
    --color-secondary-400: 84 104 128; /* ⬅ #546880 */
    --color-secondary-500: 10 39 73; /* ⬅ #0A2749 */
    --color-secondary-600: 9 35 66; /* ⬅ #092342 */
    --color-secondary-700: 8 29 55; /* ⬅ #081d37 */
    --color-secondary-800: 6 23 44; /* ⬅ #06172c */
    --color-secondary-900: 5 19 36; /* ⬅ #051324 */
    /* tertiary | #0A2749 */
    --color-tertiary-50: 218 223 228; /* ⬅ #dadfe4 */
    --color-tertiary-100: 206 212 219; /* ⬅ #ced4db */
    --color-tertiary-200: 194 201 210; /* ⬅ #c2c9d2 */
    --color-tertiary-300: 157 169 182; /* ⬅ #9da9b6 */
    --color-tertiary-400: 84 104 128; /* ⬅ #546880 */
    --color-tertiary-500: 10 39 73; /* ⬅ #0A2749 */
    --color-tertiary-600: 9 35 66; /* ⬅ #092342 */
    --color-tertiary-700: 8 29 55; /* ⬅ #081d37 */
    --color-tertiary-800: 6 23 44; /* ⬅ #06172c */
    --color-tertiary-900: 5 19 36; /* ⬅ #051324 */
    /* success | #1DB523 */
    --color-success-50: 221 244 222; /* ⬅ #ddf4de */
    --color-success-100: 210 240 211; /* ⬅ #d2f0d3 */
    --color-success-200: 199 237 200; /* ⬅ #c7edc8 */
    --color-success-300: 165 225 167; /* ⬅ #a5e1a7 */
    --color-success-400: 97 203 101; /* ⬅ #61cb65 */
    --color-success-500: 29 181 35; /* ⬅ #1DB523 */
    --color-success-600: 26 163 32; /* ⬅ #1aa320 */
    --color-success-700: 22 136 26; /* ⬅ #16881a */
    --color-success-800: 17 109 21; /* ⬅ #116d15 */
    --color-success-900: 14 89 17; /* ⬅ #0e5911 */
    /* warning | #FACC00 */
    --color-warning-50: 254 247 217; /* ⬅ #fef7d9 */
    --color-warning-100: 254 245 204; /* ⬅ #fef5cc */
    --color-warning-200: 254 242 191; /* ⬅ #fef2bf */
    --color-warning-300: 253 235 153; /* ⬅ #fdeb99 */
    --color-warning-400: 252 219 77; /* ⬅ #fcdb4d */
    --color-warning-500: 250 204 0; /* ⬅ #FACC00 */
    --color-warning-600: 225 184 0; /* ⬅ #e1b800 */
    --color-warning-700: 188 153 0; /* ⬅ #bc9900 */
    --color-warning-800: 150 122 0; /* ⬅ #967a00 */
    --color-warning-900: 123 100 0; /* ⬅ #7b6400 */
    /* error | #CE5959 */
    --color-error-50: 248 230 230; /* ⬅ #f8e6e6 */
    --color-error-100: 245 222 222; /* ⬅ #f5dede */
    --color-error-200: 243 214 214; /* ⬅ #f3d6d6 */
    --color-error-300: 235 189 189; /* ⬅ #ebbdbd */
    --color-error-400: 221 139 139; /* ⬅ #dd8b8b */
    --color-error-500: 206 89 89; /* ⬅ #CE5959 */
    --color-error-600: 185 80 80; /* ⬅ #b95050 */
    --color-error-700: 155 67 67; /* ⬅ #9b4343 */
    --color-error-800: 124 53 53; /* ⬅ #7c3535 */
    --color-error-900: 101 44 44; /* ⬅ #652c2c */
    /* surface | #EDF2F9 */
    --color-surface-50: 252 253 254; /* ⬅ #fcfdfe */
    --color-surface-100: 251 252 254; /* ⬅ #fbfcfe */
    --color-surface-200: 251 252 254; /* ⬅ #fbfcfe */
    --color-surface-300: 248 250 253; /* ⬅ #f8fafd */
    --color-surface-400: 242 246 251; /* ⬅ #f2f6fb */
    --color-surface-500: 237 242 249; /* ⬅ #EDF2F9 */
    --color-surface-600: 213 218 224; /* ⬅ #d5dae0 */
    --color-surface-700: 178 182 187; /* ⬅ #b2b6bb */
    --color-surface-800: 142 145 149; /* ⬅ #8e9195 */
    --color-surface-900: 116 119 122; /* ⬅ #74777a */
}
